{%  extends './base_admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block ContactArray %}
<div class="container mt-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Centre</th>
            <th>Nom / Adresse</th>
            <th>Contact</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for contact in contacts %}

            <tr>
                <td>{{ contact.center }}</td>
                <td>{{ contact.username }} {{ contact.address }}</td>
                <td>{{ contact.phone }} / {{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <a href="{{ path('admin_date_delete', {id: contact.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}